<!DOCTYPE html>
<html lang="en" data-theme="light" class="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - RegistrioFiesta</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/daisyui@3.9.4/dist/full.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com?xversion={{ random() }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@unocss/runtime/preset-icons.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@unocss/runtime/preset-web-fonts.global.js"></script>
    <script>
        window.__unocss = {
            presets: [
                () => window.__unocss_runtime.presets.presetIcons({
                    scale: 1.2,
                    cdn: 'https://esm.sh/'
                }),
                () => window.__unocss_runtime.presets.presetWebFonts({
                    provider: 'google',
                    fonts: {
                        sans: 'Roboto',
                        quicksand: [{
                            name: 'Quicksand',
                            weights: [300, 400, 500, 600, 700],
                            italic: true
                        }, {
                            name: 'sans-serif',
                            provider: 'none'
                        }]
                    }
                }),
            ],
        };

        tailwind.config = {
            theme: {
                fontFamily: {
                    'body': ['"Quicksand"', '"sans-serif"'],
                },
            },
        };
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@unocss/runtime"></script>
    <script src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    <script src="https://cdn.jsdelivr.net/npm/daisyui@3.9.4/src/index.min.js"></script>
</head>
<body class="flex flex-col h-full relative h-screen dark:text-neutral-content font-['Quicksand']">
    {% block content %}{% endblock %}
    <footer class="header bg-fuchsia-900 text-neutral-50 dark:bg-cyan-950 dark:text-neutral-content w-full sticky py-5 px-10 dark:bg-slate-800">
        Todos los derechos reservados &copy;
    </footer>

    <script>
        function toggleDarkMode() {
            let htmlEl = document.documentElement;
            let mode = htmlEl.getAttribute("class") === "light" ? "dark" : "light";
            htmlEl.setAttribute("data-theme", mode);
            htmlEl.setAttribute("class", mode);
        }
    </script>
</body>
</html>