{% if asistencias|length == 0 %}
<p>No hay asistencias registrados que coincidan.</p>
{% else %}
<div class="w-full">
    <table class="table table-zebra mt-5">
        <thead class="bg-slate-300">
            <th class="py-5 rounded-tl-lg">Invitacion</th>
            <th class="py-5">Invitado</th>
            <th class="py-5">Reservados</th>
            <th class="py-5 rounded-tr-lg">Asistieron</th>
        </thead>
        <tbody>
        {% for asistencia in asistencias %}
        <tr>
            <td>{{ asistencia.invitacion.numero }}</td>
            <td>{{ asistencia.invitacion.invitado }}</td>
            <td>{{ asistencia.invitacion.acompanantes }}</td>
            <td>{{ asistencia.acompanantes }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
